<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <span>PROVINCIAS DEL ECUADOR</span>
        </div>
        <h2>Estadísticas de la población</h2>
        <div class="provincias">
            <div class="lista-provincias"></div>
            <div class="chart"></div>
        </div>
        <h2>Información por provincia</h2>
        <div class="detalle-x-provincia">
            <select name="todas-provincias" id="todas-provincias">
                <option value="Azuay" selected>Azuay</option>
                <option value="Azuay" selected>Bolivar</option>
                <option value="Azuay" selected>Cañar</option>
                <option value="Azuay" selected>Carchi</option>
            </select>
            <div class="informacion">
                <div class="card">
                    <p class="titulo">Población total</p>
                </div>
                <div class="card">
                    <p class="titulo">Superficie (km2)</p>
                </div>
                <div class="card">
                    <p class="titulo">Total de Hombres</p>
                </div>
                <div class="card">
                    <p class="titulo">Total de Mujeres</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>